
body{
    font-family: Roboto;
    background-color: #E7E9FC;
    margin: 0;
    padding: 0;
}
/* NAV */
ul{
     list-style-type: none;
}
.logo{
    width: 115px;
    height: 24px;
    font-family: Raleway;
    font-weight: 700;
    text-decoration: none;
    line-height: 21px;
    font-size: 21px;
}
.logo span{
    color:#4D5AE5 ;
}
.nav a{
    font-family: Roboto;
    font-weight: 500;
    color: #2E2F42;
    text-decoration: none;
    line-height: 24px;
   font-size: 16px;
}
address a{
font-family: Roboto;
font-weight: 400;
color: #434455;
text-decoration: none;
font-size: 16px;
}
address a:hover {
   color: #404BBF;
}

/* Herro */
.hero{
   background-color:  #2E2F42
}
.hero h1{
    font-family: Roboto;
    font-weight: 700;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
}
.hero button{
    font-family: Roboto;
    font-weight: 500px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4D5AE5;
}
.hero button:hover{
    background-color: #404BBF;
}
/*     <!-- Features section -->
